.blog {
  display: flex;
  flex-direction: column;
}

.blog-post {
  margin-bottom: 40px;
}

.blog-link {
  text-decoration: none;
}

.blog-headline {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 15px 0;
}

.blog-sub-headline {
  font-size: 17px;
  margin-bottom: 15px;
}

.blog-content {
  font-weight: 300;
}

@media (min-width: 768px) {
  .blog {
    margin-top: 100px;
  }
  .blog-headline {
    font-size: 36px;
  }

  .blog-content {
    max-width: 600px;
  }
}
