.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.main-header a {
  text-decoration: none;
}

.main-header .title-section {
  width: 70%;
}

.main-header .title {
  font-weight: 700;
}

.main-header .sub-title {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 300;
}

.main-header .main-nav {
  display: flex;
  flex-direction: column;
}

.main-header a {
  font-weight: 300;
  margin-bottom: 10px;
}

.main-nav a:hover {
  font-weight: normal;
}

@media (min-width: 768px) {
  .main-header .main-nav {
    flex-direction: row;
  }

  .main-nav a {
    margin-left: 25px;
  }
}

@media (min-width: 900px) {
  .main-nav a {
    margin-left: 50px;
  }
}
