.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.main p {
  font-weight: 300;
}

.main a {
  color: coral;
  text-decoration: none;
}

.main u {
  text-underline-offset: 20%;
}

@media (min-width: 768px) {
  .main h2 {
    font-size: 65px;
  }

  .main p {
    max-width: 85%;
  }
}

@media (min-width: 1000px) {
  .main p {
    max-width: 650px;
  }
}
